<div ng-cloak>
    <md-content class="md-padding" layout-xs="column">
        <div flex-xs flex-gt-xs>
            <md-card ng-controller="ConfCompetenciaPerfilCtrl">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Catalogo de perfiles</span>
                        <span class="md-subhead">Configurar Competencias del Perfil</span>
                    </md-card-title-text>

                    <md-button class="md-raised md-primary" ng-click="goBack()">
                            <md-tooltip md-autohide>Regresar</md-tooltip>
                            <ng-md-icon icon="arrow_back"></ng-md-icon>
                    Regresar</md-button>
                </md-card-title>
                <md-divider></md-divider>
                <div class="md-padding">
                    SubareaPerfil: 
                    <span >
                            <ng-md-icon icon="view_array" aria-label="title"></ng-md-icon>
                            <strong>{{saperfil.subarea}}</strong>
                    </span>
                    <md-divider></md-divider>
                    <br>

                    <div layout="row" layout-xs="column" layout-align-xs="start center">
                        <md-card class="page" flex>
                        <table class="table-material">
                            <thead>
                                <tr>
                                    <th colspan="3">Competencias disponibles</th>
                                    <th>
                                <md-button align="right" class="md-fab md-mini md-primary" aria-label="Add" ng-click="new($event)">
                                <md-tooltip md-autohide>Añadir</md-tooltip>
                                <ng-md-icon icon="add" aria-label="Add"></ng-md-icon>
                                </md-button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in lista_comp">
                                    <td class="md-padding" >{{ $index + 1 }}</td>
                                    <td>{{ d.nombre }}</td>
                                    <td>
                                            <input required type="number" ng-model="ponderado" min="1" max="100" class="inputtexbox">
                                            <div ng-messages="ponderado.$error"></div>
                                    </td>

                                    <td>
                                    <md-button  class="md-icon-button" ng-click="guardarCP(saperfil.id,d.nombre, ponderado)" >
                                    <ng-md-icon size="20" icon="send" aria-label="Eat cake" ></ng-md-icon>
                                    <md-tooltip md-autohide>Inviar</md-tooltip>
                                    </md-button>
                                    </td>
                        
                                </tr>
                            </tbody>
                        </table>
                        </md-card>
                        
                        <md-card class="page" flex>
                        <table class="itable">
                            <thead>
                                <tr>
                                    <th colspan="4">Competencias activas del subarea
                                        {{saperfil.subarea}}</th>
                                </tr>
                            </thead>
                            <tbody class="itbody">
                                <tr ng-repeat="d in lista_cp">
                                    <td class="md-padding" width="20">{{$index +1}}</td>
                                    <td width="320">{{d.competencia}}</td>
                                    <td width="60">
                                    <span ng-hide="d.isEditable">{{d.ponderado}}</span>
                                    <input required type="number" ng-model="d.ponderado" class="inputtexbox" ng-show="d.isEditable" ng-keydown="editPtj($event, d)" id="MyText{{d.id}}" ng-blur="ocultarInput(d)"  min="1" max="100"> 
                                    </td>
                                    <td width="50">
                                    <a class="md-icon-button icon-edit" ng-click="showInput(d,'MyText'+d.id)">
                                        <md-tooltip md-autohide>Editar</md-tooltip>
                                        <ng-md-icon size="20" icon="edit" aria-label="Edit" ></ng-md-icon>
                                    </a> 
                                    </td>
                                    <td width="50">
                                    <a class="md-icon-button icon-delete" aria-label="delete" ng-click="delete(d)">
                                        <md-tooltip md-autohide>Quitar</md-tooltip>
                                        <ng-md-icon size="20" icon="clear" aria-label="delete"></ng-md-icon>
                                    </a>  


                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="5" align="center">Total del Ponderado = 
                                        <md-button class="md-raised ">
                                        <span class="ng-binding ng-scope">{{suma}}/100</span>
                                        <md-tooltip md-autohide>Total</md-tooltip>
                                        </md-button>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        </md-card>
                    </div>
                </div>   
            </md-card>
        </div>
    </md-content>
</div>
