<md-dialog aria-label="Form" ng-cloak class="main" md-theme="{{ dynamicTheme }}">
    <form name='myform'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Actualizar Foto de Perfil</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-progress-circular layout-fill md-mode="indeterminate" ng-hide="true"></md-progress-circular>
            <div class="md-dialog-content"> 
                <div layout="column" class="column-photo" >
                    <md-card class="form-foto">
                        <!-- <div> -->
                            <!-- <IMG ng-src="{{form.photo}}" id="perfil"></IMG> -->
                            <img ngf-thumbnail="form.photo" id="perfil">
                        <!-- </div> -->
                    </md-card>
                    <choose-file layout="row" flex="10">
                        <input id="fileInput" type="file" class="ng-hide" ngf-select  ng-model="form.photo" required>
                        <!-- <input id="fileInput" type="file" ngf-select ng-model="form.photo" name="file" accept="image/*"  > -->
                        <div >
                            <md-button class="md-fab md-mini md-primary" aria-label="chooseFile">
                                <ng-md-icon icon="file_upload"></ng-md-icon>
                            </md-button>
                        </div>
                        <md-input-container flex class="md-block">
                            <input type="text" ng-model="fileName" aria-label="fileInput" disabled>
                            <div class="hint"></div>
                        </md-input-container>
                    </choose-file>
                </div> 
                <div layout="column" ng-hide="true">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Usuario</label>
                        <md-select  ng-model="form.user" style="min-width: 200px;" required>
                            <md-option ng-repeat="u in listaU" value="{{u.username}}">{{u.username}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content> 
        <md-dialog-actions layout="row" >
            <!-- <span flex></span> -->
            <div class="option">
                <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                <md-button type="submit" ng-click="saveupload(form.photo,form.user)" class="md-raised md-primary" ng-disabled="!myform.$valid">Guardar</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>  
