<div ng-cloak>
    <md-content class="md-padding" layout-xs="column">
        <div flex-xs flex-gt-xs>
            <md-card ng-controller="PerfilCtrl">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Catalogo de perfiles</span>
                        <!-- <span class="md-subhead">CRUD Perfil</span> -->
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="start center" layout-xs="column">
                    <md-card-icon-actions>
                        <md-button class="md-fab md-mini md-primary" aria-label="Add" ng-click="new($event)">
                            <md-tooltip md-autohide>Añadir</md-tooltip>
                            <ng-md-icon icon="add" aria-label="Add"></ng-md-icon>
                        </md-button>
                        <md-button class="md-button" aria-label="Mostrar todo"
                        ui-sref="gperfil.listaperfil">
                            Mostrar todo
                        </md-button>
                    </md-card-icon-actions>
                    <span flex></span>
                    <md-card-icon-actions layout-align="end center">
                        <input placeholder="buscar" ng-model="query" ng-keyup="buscar()">
                        <md-button class="md-icon-button" aria-label="Share">
                            <ng-md-icon icon="more_vert" aria-label="title"></ng-md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-divider></md-divider>
               <!-- contenido -->
                <div layout="row" layout-wrap>
                    <md-card ng-repeat="d in lista" ng-mouseover="d.isHover=true" ng-mouseleave="d.isHover=false">

                        <md-card-title layout-align="center"> 
                        <md-card-title-media >
                            <!-- <div align="center">{{d.nombre}}</div> -->
                            <div class="center md-media-sm">
                            <ng-md-icon icon="account_circle" style="fill:#0066aa" size="90"></ng-md-icon>
                            </div>
                        </md-card-title-media>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="center" >
                        <a class="md-button" ui-sref="gperfil.confareaperfil({perfil_id:d.id})">
                            <md-tooltip md-autohide>Configurar</md-tooltip>{{d.nombre}}</a>
                        
                        </md-card-actions>

                  </md-card>
              </div>
            </md-card>
        </div>
    </md-content>
</div>
