<md-card ng-controller="ItemsCtrl">
    <md-card>
    <div align="center">
        <p>EFICACIA DEL LEGAJO</p>
        <md-progress-linear md-mode="determinate" ng-value="{{loading}}" flex="50"></md-progress-linear><!--ng-hide="!isLoading"-->
        </br>
    </div>
    </md-card>
<nav>
    <ul class="nav">
        <div >
            <div ng-repeat="d in lista | filter:{estado:true}">
                <md-card>
                <li class="toggled active"> <!--active-->
                    <a md-ink-ripple toggle-submenu>
                        <span class="pull-right">
                          <!-- <md-tooltip md-autohiden>Añadir</md-tooltip> -->
                          <!-- <ng-md-icon icon="add_circle" style="fill:#0091ea" ng-click="itemnew($event,d)"></ng-md-icon> -->
                          <ng-md-icon icon="keyboard_arrow_down" style="fill:#0091ea"></ng-md-icon>
                        </span>
                        <i class="icon mdi-action-subject i-20"></i>
                            <md-button class="md-fab md-mini md-primary" aria-label="Add">
                                {{$index+1}}
                            </md-button>
                        <span class="font-normal">{{d.nombre}}</span>
                    </a>
                    <ul class="nav nav-sub" ng-repeat="subitem in d.subitems | filter:{estado:true}">
                        <li ui-sref-active="active">
                            <a md-ink-ripple toggle-submenu  class="md-min">
                                <span>{{$index+1}} .</span>
                                {{subitem.nombre}}
                                <span class="pull-right">
                                    <md-tooltip md-autohiden>Añadir</md-tooltip>
                                    <ng-md-icon icon="note_add" id="newsub" style="fill:#0091ea" ng-click="subitemnew($event,subitem)" ></ng-md-icon>
                                    <ng-md-icon icon="keyboard_arrow_down" style="fill:#0091ea"></ng-md-icon>
                                </span>
                            </a>
                            <ul class="nav nav-sub">
                                <div id="legajo">                             
                                    <md-table-container>
                                        <table class="table-material" md-table data-md-row-select="" mi-table>
                                            <thead md-head>
                                                <tr md-row ng-repeat="e in listaE | filter:subitem.nombre" ng-if="listaEC.length != 0">
                                                    <th md-column align="center" class="md-padding">Código</th>
                                                    <th md-column md align='center' ng-repeat="i in listaEC | filter:subitem.nombre | limitTo: limit" ng-if="e.nombre == i.elemento.nombre">{{i.nombre}}</th>
                                                    <th md-column md align='center' ng-repeat="j in listaECP | filter:subitem.nombre | limitTo: limite">{{j.campo_predefinido.nombre}}</th>
                                                    <th md-column colspan='2' align='center'>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody md-body ng-repeat="e in listaE | filter:subitem.nombre" ng-if="listaECR.length != 0">
                                                <tr md-row ng-repeat="listaECR in subitemRegistro | filter: subitem.nombre">
                                                    <td md-cell align="center" class="md-padding">{{$index+1}}</td>
                                                    <td md-cell align='center' ng-repeat="d in listaECR | limitTo: limit" ng-if="e.nombre == d.elemento_campo.elemento.nombre"> 
                                                        <label ng-if="d.d_string != null">{{d.d_string}}</label>
                                                        <label ng-if="d.d_select != null">{{d.d_select}}</label>
                                                        <label ng-if="d.d_opcion != null">{{d.d_opcion}}</label>
                                                        <label ng-if="d.d_texto != null">{{d.d_texto | limitTo: 40 }}{{d.d_texto.length > 40 ? '...' : ''}}</label>
                                                        <label ng-if="d.d_number != null">{{d.d_number}}</label>
                                                        <label ng-if="d.d_decimal != null">{{d.d_decimal}}</label>
                                                        <label ng-if="d.d_fecha != null">{{d.d_fecha}}</label>
                                                        <label ng-if="d.d_imagen != null">{{d.d_imagen}}</label>
                                                        <label ng-if="d.d_archivo != null">{{d.d_archivo}}</label>
                                                        <label ng-if="d.d_url != null">{{d.d_url}}</label>
                                                    </td>
                                                    <td md-cell align='center' ng-repeat="d in subitemPredeterRegistro[$index] | filter:subitem.nombre | limitTo: limite" ng-if="e.nombre == d.elemento_campo_pred.elemento.nombre"> 
                                                        {{d.data}}
                                                    </td>
                                                    <td md-cell align='center'>
                                                        <md-button class="md-icon-button md-primary" aria-label="Edit" ng-click="reg(listaECR,subitemPredeterRegistro[$index],subitem )">
                                                            <md-tooltip md-autohide>Editar</md-tooltip>
                                                            <ng-md-icon icon="edit" aria-label="Edit"></ng-md-icon>
                                                        </md-button>
                                                        <!-- <md-button class="md-icon-button md-primary" aria-label="delete" ng-click="Reg(listaECR)"> -->
                                                        <!--     <md-tooltip md-autohide>Detalle</md-tooltip> -->
                                                        <!--     <ng-md-icon icon="receipt" aria-label="detalle"></ng-md-icon> -->
                                                        <!-- </md-button> -->    
                                                        <md-button class="md-icon-button md-primary" aria-label="delete" ng-click="delReg(listaECR,subitemPredeterRegistro[$index],subitem)">
                                                            <md-tooltip md-autohide>Eliminar</md-tooltip>
                                                            <ng-md-icon icon="delete" aria-label="delete"></ng-md-icon>
                                                        </md-button>    
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>  
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul class="nav"  ng-repeat="i in subitem.secciones">
                                <li ui-sref-active="active">
                                    <a md-ink-ripple toggle-submenu class="md-min">
                                        <span>{{$index+1}} .</span>
                                        {{i.nombre}}
                                        <span class="pull-right">
                                            <md-tooltip md-autohiden>Añadir</md-tooltip>
                                            <ng-md-icon icon="note_add" style="fill:#0091ea"ng-click="seccionnew($event,i)" ></ng-md-icon>
                                        </span>
                                    </a>
                                    <ul class="nav nav-sub">
                                        <div id="legajo">
                                            <md-table-container >
                                            <table class="table-material seccion"
                                                 md-table data-md-row-select="" mi-table>
                                            </table>
                                            </md-table-container>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                </md-card>
            </div>
        </div>
    </ul>
</nav>
</md-card>        
