<md-dialog aria-label="Form"  ng-cloak class="main" md-theme="{{ dynamicTheme }}">
    <form name='myform'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    {{subitem}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- <md-dialog-actions> -->
        <div layout="column">
        <div flex id="form-part-1">
        <div layout="row" class="md-dialog-content">
            <div layout-gt-sm="row" ng-hide="true">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Persona</label>
                    <md-select ng-model="registro.persona" required disabled>
                        <md-option ng-repeat="p in listaP"
                        value="{{p.nombres}}">{{p.nombres}}</md-option>
                    </md-select>
                </md-input-container> 
            </div>  
            <div flex>
        <!-- <md-dialog-actions> -->
                <div ng-repeat="e in listaECR" >
                    <md-input-container class="md-block" >
                        <label>{{e.elemento_campo.nombre}}</label>
                        <input ng-model="e.d_string" ng-if="e.elemento_campo.campo.tipo_campo == 'string'" minlength="7" maxlength="100" required/>
                        <input ng-model="e.d_url"  ng-if="e.elemento_campo.campo.tipo_campo == 'url'" maxlength="200" required/>
                        <textarea ng-model="e.d_texto" ng-if="e.elemento_campo.campo.tipo_campo == 'text'" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                        <input type="number" ng-model="e.d_number" ng-if="e.elemento_campo.campo.tipo_campo == 'number'" required/>
                        <input type="number" ng-model="e.d_decimal" ng-if="e.elemento_campo.campo.tipo_campo == 'decimal'" 
                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
                        <md-datepicker ng-model="e.d_fecha" ng-if="e.elemento_campo.campo.tipo_campo == 'date'"></md-datepicker>
                        <md-select ng-model="e.d_string" ng-if="e.elemento_campo.campo.tipo_campo == 'select'" required>
                            <md-option ng-repeat="d in listDC | filter: {elemento_campo:e.nombre}" value="{{d.nombre}}">{{d.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-if="e.elemento_campo.campo.tipo_campo == 'image'" >
                        <lf-ng-md-file-input lf-files="files06" lf-api="api06" lf-required  lf-filesize="10MB" lf-totalsize="20MB"  lf-mimetype="image/*" preview ></lf-ng-md-file-input>
                        <div ng-messages="testForm.files00.$error" style="color:red;">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="filesize">File size too large.</div>
                            <div ng-message="totalsize">Total size too large.</div>
                            <div ng-message="mimetype">Mimetype error.</div>
                        </div> 
                        <!-- <md-card class="form-foto"> -->
                        <!--     <img ngf-src="e.d_imagen" id="perfil"> -->
                        <!-- </md-card> -->
                        <!-- <choose-file layout-gt-sm="row" flex="80"> -->
                        <!--     <input id="fileInput" type="file" class="ng-hide" ngf-select  ng-model="e.d_imagen"> -->
                        <!--     <div > -->
                        <!--     <md-button class="md-fab md-mini md-primary" aria-label="chooseFile"> -->
                        <!--             <ng-md-icon icon="file_upload"></ng-md-icon> -->
                        <!--     </md-button> -->
                        <!--     </div> -->
                        <!--     <md-input-container flex class="md-block"> -->
                        <!--         <input type="text" ng-model="fileName" aria-label="fileInput" disabled> -->
                        <!--         <div class="hint"></div> -->
                        <!--     </md-input-container> -->
                        <!-- </choose-file> -->
                    </div>
                    <div layout-gt-sm="column" ng-if="e.elemento_campo.campo.tipo_campo == 'file'">
                        <label align="center" style="color:#9e9e9e;padding-bottom:0.5em">{{e.nombre}}</label>
                        <choose-file layout="row" class="md-block">
                            <input id="fileInput" type="file" class="ng-hide" ngf-select ng-model="e.d_archivo">
                            <md-input-container flex class="md-block">
                                <input type="text" aria-label="file input" ng-model="fileName" disabled>
                                <div class="hint">Select your file</div>
                            </md-input-container>
                            <div>
                                <md-button id="uploadButton" class="md-fab md-mini md-primary">
                                    <ng-md-icon icon="attach_file" aria-label="attach_file"></ng-md-icon>
                                </md-button>
                            </div>                            
                        </choose-file>
                    </div>
                </div>
            </div>
            <div flex>
            <div layout="column" ng-repeat="e in listaECPR" >
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{e.campo_predefinido.nombre}}</label>
                    <md-select ng-model="e.regimen_pension"
                    ng-if="e.campo_predefinido.tipo_campo == 'regimen_pension'" required>
                        <md-option ng-repeat="j in listaRegPen"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.categoria_academica"
                    ng-if="e.campo_predefinido.tipo_campo == 'categoria_academica'" required>
                        <md-option ng-repeat="j in listaCatAcad"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.cargo_ocupado"
                    ng-if="e.campo_predefinido.tipo_campo == 'cargo_ocupado'" required>
                        <md-option ng-repeat="j in listaCarOcup"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.institucion"
                    ng-if="e.campo_predefinido.tipo_campo == 'institucion'" required>
                        <md-option ng-repeat="j in listaInst"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.idioma"
                    ng-if="e.campo_predefinido.tipo_campo == 'idioma'" required>
                        <md-option ng-repeat="j in listaIdio"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.grado_academico"
                    ng-if="e.campo_predefinido.tipo_campo == 'grado_academico'" required>
                        <md-option ng-repeat="j in listaGradAcad"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.especialidad"
                    ng-if="e.campo_predefinido.tipo_campo == 'especialidad'" required>
                        <md-option ng-repeat="j in listaEspec"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.proceso_grado_academico"
                    ng-if="e.campo_predefinido.tipo_campo == 'proceso_grado_academico'" required>
                        <md-option ng-repeat="j in listaProcGradAcad"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.codigo_postal"
                    ng-if="e.campo_predefinido.tipo_campo == 'codigo_postal'" required>
                        <md-option ng-repeat="j in listaCodPost"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                    <md-select ng-model="e.pais"
                    ng-if="e.campo_predefinido.tipo_campo == 'pais'" required>
                        <md-option ng-repeat="j in listaPais"
                        value="{{j.nombre}}">{{j.nombre}}</md-option>
                    </md-select>
                </md-input-container>  
            </div>
            </div>
        </div>        
        <div flex class="footer-config">
            <!-- <span flex></span> -->
            <div>
                <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                <md-button type="submit" ng-click="saveRegistroUpdate()" class="md-raised md-primary" ng-disabled="!myform.$valid">Guardar</md-button>
            </div>
        </div>
        </div>
    </form>
</md-dialog> 
